:root {
  --main-color-1: #006A8E;
  /*Pantone Blue*/
  --main-color-2: #B5BA05;
  /*Pantone Green*/
  --secondary-color-1: #0064a8;
  /*Bart Blue*/
  --secondary-color-2: #B5B5B5;
  /*Grey*/
}

:root {
  --column-width: 8.33%;
}

.Page {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  grid-template-rows: 0.25fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}

.Page-Header {
  grid-area: 1 / 2;
  text-align: center;
  background-color: var(--main-color-1);
  border: solid 5px var(--secondary-color-2);
}
